<html>
<head>
<title>{{.title_text}}</title>
<style>
.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: {{.button_color}}
}

</style>
</head>
<body>
<h1>{{.title_text}}</h1>
<a href="/convert"><button type="button" class="button">Convert!!</button></a>
</body>
</html>